@model MilestoneCST_350.Services.GameService

<style>
    .game-button-image {
        width: 50px;
    }

    .game-button {
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0px;
    }
</style>

@{
    string[] images = { "orange.png", "blue.png", "flag.png", "red.png" };

    //string[] buttonText = { "", "Flag", "Bomb" };

}
<h1>Play Minesweeper</h1>
<form>
    <div class="button-zone">


        @for (int i = 0; i < Model.Buttons.Count(); i++)
        {
            if (i % 10 == 0)
            {
                <div class="line-break">
                </div>
            }
    <div class="oneButton" id=@i>
        <button class="game-button" id="@Model.Buttons.ElementAt(i).State" name="buttonId" value="@Model.Buttons.ElementAt(i).Id" type="submit" onclick="return HandleButtonClick();">
            <img class="game-button-image" src="~/img/@images[Model.Buttons.ElementAt(i).State]" />
        </button>
    </div>
        }
    </div>
</form>
