@model MilestoneCST_350.Models.UserModel

<div>
    <h4>Registration Failed.  Please Try again!</h4>
    <hr />
    <a href="Index">Register</a>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
